<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460240201922-8k6cgrn7h8cr1hf0d3621gebki0fav06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460240201922-8k6cgrn7h8cr1hf0d3621gebki0fav06</string>
	<key>API_KEY</key>
	<string>AIzaSyCgAug0epa07yow2DSqE26TlJ0xc8uLTlU</string>
	<key>GCM_SENDER_ID</key>
	<string>460240201922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterapp.notes</string>
	<key>PROJECT_ID</key>
	<string>my-first-flutter-app-project</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-flutter-app-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460240201922:ios:54b4eaf3d63004ae32335b</string>
</dict>
</plist>